<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainspark Chat</title>
    <meta content="Brainspark Chat" name="description">
    <meta content="brainspark, chat" name="keywords">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="/css/highlight.pack-default.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    {#<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />#}
    {#<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />#}
</head>
<body class="clearfix">
<button id="msgUpdates"><span class="count">20</span> <span class="text">new message</span></button>

<header>

    <h1>
        <a href="/" id="logo">Brainspark<span>Chat</span></a>
    </h1>

</header>

{% block content %}{% endblock %}

<footer class="hidden">
    <div class="container">

        <div class="row">

            <div class="col-sm-12">
                <ul class="toolbox clearfix">
                    <li id="emoticons" class="icon emoticons"><span class="emotico-box hidden"></span></li>
                    <li id="code">&#60;code&#62;
                        <form class="code-box hidden">
                            <label class="lang">
                                <select name="lang">
                                    <option>html</option>
                                    <option>js</option>
                                    <option>php</option>
                                </select>
                            </label>
                            <label><textarea name="code"></textarea></label>
                            <label class="ok">
                                <button type="button">OK</button>
                            </label>
                        </form>
                    </li>
                    <li id="history" class="icon history">
                        <ul class="time-box hidden">
                            <li data-history="7">7 дней</li>
                            <li data-history="14">14 дней</li>
                            <li data-history="30">30 дней</li>
                            <li data-history="all">с самого начала</li>
                        </ul>
                    </li>
                </ul>
                <form id="chatform">

                    <textarea id="message" placeholder="Write something.."></textarea>
                    <input type="submit" id="submit" value="SEND"/>

                </form>

            </div>

        </div>

    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/tinycon.min.js"></script>
<script src="/js/spin.min.js"></script>
<script src="/js/highlight.pack.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/script.js"></script>
{% block javascript %}{% endblock %}
<div id="mask" class="hidden"><span class="message"></span></div>
</body>
</html>
