{% extends 'base.twig' %}

{% block content %}
    <section>
        <div class="homesection">

            <a title="Create" href="/room/create" id="create">
                <div id="createbutton">
                    <div id="little">Create a Private</div>
                    <div id="big">CHAT ROOM!</div>
                </div>
            </a>

            <div class="tutorial"></div>
        </div>
    </section>
{% endblock %}