{% extends 'base.twig' %}

{% block content %}
    <section>
        <div class="homesection">

            <ul>
                {% for room in rooms %}
                    <li>
                        <a href="/chat/{{ room.id }}"><b>{{ room.name }}:</b></a> {{ room.description }}
                    </li>
                {% else %}
                    There are no rooms!
                {% endfor %}
            </ul>
            <hr/>

            <form action="/room/create" method="post">
                <input type="text" name="name" placeholder="Room name"><br/>
                <input type="text" name="description" placeholder="Description"><br/>
                <button type="submit">Create</button>
            </form>

            <div class="tutorial"></div>
        </div>
    </section>
{% endblock %}