@max-width-default: 700px;
/*------------- Reset browser differences ------------- */

* {
  padding: 0;
  margin: 0;
}

html,body {
  width:100%;
  height:100%;
}

.h1, .h2, .h3, h1, h2, h3 {
  font-weight: bold;
  margin: 0;
}

pre {
  border: 0;
  //margin: 0;
}

/* ------------ default styles ------------ */

h2 {
  font-size: 1.5em;
}

body {
  min-width: 320px;
  color: #667073;
  font: 16px/1.3 'Arial', sans-serif;
  //background-color: #f0f1f3;
}

.container {
  padding: 0;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

input[type="text"],
input[type="email"] {
  color: #383838;
  width: 200px;
  height: 30px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 3px 3px #e3e4e6;
  background-color: #f0f1f3;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  box-shadow: 0 3px 3px #e3e4e6;
  margin-bottom: 20px;
}

[type="submit"] {
  width: 110px;
  height: 40px;
  text-align: center;
  background-color: #73b4d4;
  border: none;
  box-shadow: 3px 3px 3px #efedee;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

/* ------ Header ------ */

header {
  height: 70px;
  background-color: #3c4446;
  margin-bottom: 90px;

  h1 {
    color: white;
    font-family: 'Open Sans Condensed', serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;

    span {
      color: #d6441b;
    }
  }
}

#logo {
  text-decoration: none;
  color: white;
}

#logo:visited {
  color: white;
}

/* ------ rooms page ------ */

.homesection {
  text-align: center;
  margin-top: 140px;
}

#roomsForm {

  input[type="text"] {
    margin-bottom: 8px;
  }
}

//.node {
//  padding-top: 20px;
//  text-align: center;
//  margin-bottom: 120px;
//}
//
//.node #chat {
//  font-family: 'Open Sans Condensed';
//  font-weight: normal;
//  color: #707368;
//}
//
//#nodelogo {
//  width: 410px;
//  height: 110px;
//  margin-bottom: 35px;
//}
//
//#create {
//  width: 300px;
//  height: 100px;
//  background-color: #70b1d1;
//  text-align: center;
//  display: block;
//  margin: 0 auto;
//  border-radius: 3px;
//  box-shadow: 0 5px 5px #e4e8e7;
//  text-decoration: none;
//  margin-bottom: 70px;
//  color: #eeffff;
//}
//
//#create:visited {
//  color: #eeffff;
//  text-decoration: none;
//}
//
//#createbutton {
//  padding-top: 28px;
//}
//
//#little {
//  font-weight: normal;
//  font-size: 13px;
//}
//
//#big {
//  font-weight: bold;
//  font-size: 23px;
//}
//
//.tutorial {
//  margin-bottom: 90px;
//}
//
//#tutorial {
//  color: #88bfd4;
//}
//
//#tutorial:visited {
//  color: #88bfd4;
//}

/* ------ login page ------*/

.connected {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: @max-width-default;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 3px #e3e4e6;
  color: #637277;
  padding: 90px 0;
}

//.infoConnected {
//  text-align: center;
//  margin: 0 auto;
//}

//#creatorImage {
//  float: left;
//  width: 100px;
//  height: 100px;
//  border-radius: 50%;
//}
/* ------ Person Inside ------*/

//.personinside {
//  text-align: center;
//  display: block;
//  margin: 0 auto;
//  width: 700px;
//  height: 400px;
//  background-color: #ffffff;
//  border-radius: 3px;
//  box-shadow: 0 3px 3px #e3e4e6;
//  color: #637277;
//}
//
//.personinside h2 {
//  padding-top: 20px;
//  width: 210px;
//  overflow: hidden;
//}
//
//.infoInside {
//  text-align: left;
//  float: right;
//  margin: 65px 165px 0 0;
//}
//
//#ownerImage {
//  float: left;
//  margin: 90px 0 0 140px;
//  width: 100px;
//  height: 100px;
//  border-radius: 50%;
//}
//
//#hisName {
//  float: left;
//  padding-left: 10px;
//  width: 150px;
//  height: 30px;
//  border-radius: 3px;
//  box-shadow: 0 3px 3px #e3e4e6;
//  background-color: #f0f1f3;
//  border: 1px solid #d1d1d1;
//  border-radius: 3px;
//  box-shadow: 0 3px 3px #e3e4e6;
//  margin-bottom: 20px;
//}
//
//#hisEmail {
//  float: left;
//  padding-left: 10px;
//  width: 200px;
//  height: 30px;
//  border-radius: 3px;
//  box-shadow: 0 3px 3px #e3e4e6;
//  background-color: #f0f1f3;
//  border: 1px solid #d1d1d1;
//  border-radius: 3px;
//  box-shadow: 0 3px 3px #e3e4e6;
//  margin-bottom: 40px;
//}
//
//#hisEnter {
//  float: left;
//  width: 110px;
//  height: 40px;
//  text-align: center;
//  background-color: #73b4d4;
//  border: none;
//  box-shadow: 3px 3px 3px #efedee;
//  border-radius: 2px;
//  color: white;
//  font-weight: bold;
//  font-size: 15px;
//}

/* ------ Invite ------ */

//.invite-textfield {
//  text-align: center;
//  display: block;
//  margin: 0 auto;
//  width: 750px;
//  height: 300px;
//  background-color: #ffffff;
//  border-radius: 3px;
//  box-shadow: 0 3px 3px #e3e4e6;
//  color: #637277;
//}
//
//.invite-textfield h2 {
//  padding-top: 80px;
//}
//
//.invite-textfield h5 {
//  font-weight: normal;
//  margin: 10px 0 35px;
//}
//
//.invite-textfield .link {
//  width: 600px;
//  height: 35px;
//  text-align: center;
//  display: block;
//  margin: 0 auto;
//  padding-top: 15px;
//  margin-bottom: 120px;
//  border-radius: 4px;
//  background-color: #f0f1f3;
//}
//
//.invite-textfield #link {
//  text-decoration: none;
//  color: #637277;
//}

/* ------ Left ------*/

//.left {
//  text-align: center;
//  display: block;
//  margin: 0 auto;
//  width: 750px;
//  height: 300px;
//  background-color: #ffffff;
//  border-radius: 3px;
//  box-shadow: 0 3px 3px #e3e4e6;
//  color: #637277;
//  margin-bottom: 400px;
//}
//
//.left h2 {
//  padding-top: 50px;
//  padding-bottom: 6px;
//}
//
//.left h5 {
//  font-weight: normal;
//  margin-bottom: 100px;
//}
//
//#leftImage {
//  float: left;
//  margin: 90px 0 0 140px;
//  width: 100px;
//  height: 100px;
//  border-radius: 50%;
//}
//
//.nickname-left {
//  width: 40px;
//  overflow: hidden;
//}

/* ------ Too many People ------*/

//.toomanypeople {
//  text-align: center;
//  display: block;
//  margin: 0 auto;
//  width: 750px;
//  height: 300px;
//  background-color: #ffffff;
//  border-radius: 3px;
//  box-shadow: 0 3px 3px #e3e4e6;
//  color: #637277;
//}
//
//.toomanypeople h2 {
//  padding-top: 100px;
//  padding-bottom: 8px;
//}
//
//.toomanypeople h5 {
//  font-weight: normal;
//  margin-bottom: 100px;
//}
//
//#room:visited {
//  color: #88bfd4;
//}

/* ------ No Messages ------ */

//.nomessages {
//  text-align: center;
//  display: block;
//  margin: 0 auto;
//  width: 750px;
//  height: 300px;
//  background-color: #ffffff;
//  border-radius: 3px;
//  box-shadow: 0 3px 3px #e3e4e6;
//  color: #637277;
//  margin-bottom: 400px;
//}
//
//.nomessages h2 {
//  padding-top: 50px;
//  overflow: hidden;
//  padding-bottom: 6px;
//}
//
//.nomessages h5 {
//  font-weight: normal;
//  margin-bottom: 100px;
//}
//
//#noMessagesImage {
//  float: left;
//  margin: 90px 0 0 140px;
//  width: 100px;
//  height: 100px;
//  border-radius: 50%;
//}
//
//#img {
//  float: left;
//  margin: 90px 0 0 140px;
//  width: 100px;
//  height: 100px;
//  border-radius: 50%;
//}
//
//.info {
//  text-align: left;
//  float: right;
//  margin: 65px 60px 0 0;
//  width: 405px;
//  overflow: hidden;
//}
//
//.nickname-chat {
//  overflow: hidden;
//}

/* ------ Chat Screen ------ */
.chatscreen {
  max-width: @max-width-default;
  margin: 0 auto 200px auto;
}

#messageWindow {

  li {

  }

  .info {
    position: relative;
    color: #2a2a2a;
    clear: both;
    text-align: left;
    //overflow: hidden;

    img {
      position: absolute;
      top: -17px;
      left: -80px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    .name {
      overflow: hidden;
      font-size: 14px;
      font-weight: bold;
      clear: both;
      padding-top: 7px;
    }
    .timesent {
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      opacity: 0.8;
      padding-top: 4px;
    }
  }
  .message {
    width: 100%;
    //float: left;
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px 0 20px 0;
    min-width: 160px;
    min-height: 10px;
    background-color: #FFF;
    border-radius: 3px;
    //box-shadow: 0 3px 3px #E3E4E6;
    color: #637277;
    overflow-y: auto;
    line-height: 1.4;
    word-wrap: break-word;

    a {
      img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }

    .chat-code {
        font-size: 13px;

      pre {
        padding: 9.5px;
        word-wrap: normal;
        background-color: #F5F5F5;
      }
    }
  }
}

.body {
  text-align: center;
  width: 40%;
  display: block;
  margin: 0 auto 650px;
  background-color: #ffffff;
  color: #637277;
}

.chats {
  list-style-type: none;
  margin-top: 10px;
}

.chats li:first-child {
  padding: 5px 0;
}

.me {
  clear: both;
  float: left;
  margin-bottom: 10px;
}

.you {
  clear: both;
  float: right;
  margin-bottom: 10px;
}

.you .image {
  float: right;
}

.chats .me p {
  text-align: left;
  float: left;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 25px 34px;
  min-width: 160px;
  min-height: 10px;
  max-width: 510px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 3px 3px #E3E4E6;
  color: #637277;
  line-height: 1.4;
  word-wrap: break-word;
}

.chats .you p {
  text-align: left;
  float: left;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 25px 34px;
  min-width: 160px;
  min-height: 10px;
  max-width: 510px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 3px 3px #E3E4E6;
  color: #637277;
  line-height: 1.4;
  word-wrap: break-word;
}

.image b {
  overflow: hidden;
  display: block;
  clear: both;
  padding-top: 7px;
}

.image i {
  font-size: 12px;
  line-height: 1.2;
  display: block;
  opacity: 0.8;
  padding-top: 4px;
}

/* ------------ footer ------------ */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  background-color: white;
  height: 130px;
}

#chatform {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  margin: 0 auto;
  background-color: white;

  textarea {
    width: 100%;
    max-width: @max-width-default;
    height: 80px;
    //display: block;
    //margin: 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding-left: 15px;
    padding-top: 15px;
    resize: none;
    font: inherit;
    color: inherit;
  }

  [type="submit"] {
    display: none;
    margin: 0 auto;
  }
}

#chatform label {
  display: block;
  text-align: center;
}

#chatform label textarea {
  width: 99%;
  padding: 3px;
}

#submit {
  width: 110px;
  height: 60px;
  float: right;
  text-align: center;
  background-color: #73b4d4;
  display: block;
  margin: 0 auto;
  border: none;
  box-shadow: 3px 3px 3px #efedee;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .container {
    width: 600px;
  }
  .chatscreen {
    width: 100%;
  }
  #chatform textarea {
    width: 96%;
  }
}
@media screen and (max-width: 800px) {
  .container {
    padding-left: 80px;
  }
}
@media screen and (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media screen and (max-width: 600px) {
  #messageWindow .info .avatar {
    top: -5px;
    left: 0;
    width: 30px;
    height: 30px;
  }
  #messageWindow .info .timesent {
    margin-left: 40px;
  }
  .container {
    width: 90%;
    padding-left: 0;
  }
}
//@media screen and (max-width: 470px) {
//  .container {
//    width: 400px;
//  }
//}

